mcmodm-deb/*
bin/*
mcmodm-deb.deb
main
mcmodm
mcmodm.exe
.vscode/*
*.o
mods/*
a.out
dricca
mods
test
test.cpp
string
test_mods/
libpbmcmodm.so
test_mcmodm.sh

compile_commands.json
modrinth.index.json
